*
	margin 0px
	pading 0px

//media query
	
@media (max-width 360px)
	body
		background-color blue
			
@media (max-width 600px)
	body
		background-color red

@media (max-width 720px)
	body
		background-color green
		
@media (min-width 1024px)
	body
		background-color #fff

//WEB

border-radius(val)
	-webkit-border-radius val
	-moz-border-radius val
	-ms-border-radius val
	-o-border-radius val
	border-radius val

	
.containertotal
	width 100%
	

//NAVAR
	
header
	nav
		ul
			li
				display block
				float left
				a
					color #fff
					text-decoration none
					
.barra
.main-footer
	font-family 'Asap', sans-serif
	font-weight 700
	text-align center
	text-transform uppercase
	color #fff
	position relative
	text-decoration none

ul, li
	margin 0px
	pading 0px
	outline 0px
	border none	
	list-style none

nav li a:hover
	background-color #fff
	color #000	
					
.nav-item a
	float left
	cursor pointer
	color #fff
	overflow hidden
	display flex
	justify-content center
	align-items center
	height: 48px
	
	
.nav-item a
	padding 0 1rem
		
.barra
	height 48px
	width 100%
	position fixed
	background-color black
	
article
	font-family 'Asap', sans-serif
	font-weight 400	
	font-size 15px	

//footer

.main-footer
	right 0
	bottom 0
	height 200px
	padding 20px 0
	background #000
	color #aaa
	
.copyright
	margin 1.25rem 0
	
.sociales
	margin 1.25rem 0

	
	
footer ul
	list-style-type: none
	overflow hidden
	margin 0 auto
	padding 0
	position relative
	width 50%
	li
		float left
		
		a
			display block
			color #aaa
			text-align center
			padding 0 1rem
			text-decoration none
			
			
	